.car .item-media .fa{
    color: #0074BD;
}
#myCar .item-title, #myCar .item-media{
    color: #0074BD;
}
.navbar .title {
    color: #0074BD;
}
.page-previous{
    display: none;
}
.indexPage {
    background: url(../img/index_bg.png) no-repeat center fixed;
    background-size: cover;
}
.home-icons{
    width: 100%;
}
#convoyDetails .item-header, #bluetext{
    color: #0074BD;
    font-weight: bold;
}
.pt10{
    font-size: 80%;
}
#convoyMapova, #convoyMap{
    width: 100%;
    height: 100%;
}
.pending-convoy {
    background: rgba(51, 28, 150, 0.07);
}
#convoyDriveMap{
    position: relative;
}