<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>697246898607-166ls7rhs20ga15hqvv9m3vo58vunhqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697246898607-166ls7rhs20ga15hqvv9m3vo58vunhqa</string>
	<key>API_KEY</key>
	<string>AIzaSyDXJ1YsOSQzZqqVV9Sw5qtjftRJ0xMnpj8</string>
	<key>GCM_SENDER_ID</key>
	<string>697246898607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.innoflash.abiri</string>
	<key>PROJECT_ID</key>
	<string>abiri-1524908584483</string>
	<key>STORAGE_BUCKET</key>
	<string>abiri-1524908584483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697246898607:ios:172dbb6eb3df2ece</string>
	<key>DATABASE_URL</key>
	<string>https://abiri-1524908584483.firebaseio.com</string>
</dict>
</plist>