{{#if this}}
    <div class="block-title">
        FUEL ESTIMATES
    </div>
    <div class="card">
        <div class="card-content-padding">
            <div class="row">
                <div class="col-35">
                    <div class="chip color-green">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Min
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        {{ this.min }} litres
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <div class="chip color-green">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Max
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        {{ this.max }} litres
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block-title">
        COSTS ESTIMATES
    </div>
    <div class="card">
        <div class="card-content-padding">
            <div class="row">
                <div class="col-35">
                    <div class="chip color-green">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Min
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        R {{ this.cost_min }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <div class="chip color-green">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Max
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        R {{ this.cost_max }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}