{{#if this}}
    <div class="list">
        <ul>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-media"><i class="f7-icons">stopwatch</i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="item-header">Time gap</div>
                            <b>
                                {{ duration }}
                            </b>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-media"><i class="f7-icons">compass</i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="item-header">Distance</div>
                            <b>
                                {{ distance }}
                            </b>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-media"><i class="f7-icons">compass</i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="item-header">Summary</div>
                            <b>
                                {{ summary }}
                            </b>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-link item-content">
                    <div class="item-media"><i class="f7-icons">compass</i></div>
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="item-header">Locatio</div>
                            <b>
                                {{ address }}
                            </b>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{{/if}}