{{#if this}}
    <div class="list">
        <ul>
            {{#each this.predictions}}
                <li class="item-content" id="sendFeedback">
                    <div class="item-media"><i class="fa fa-map-marker"></i></div>
                    <div class="item-inner item-colors-details">
                        <div class="pt10">
                            <p>
                                <a href="/routes/{{ place_id }}">
                                    {{ description }}
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
